Thanks for the report! Will need to do some debugging. What’s the host OS and version?

Hi @jamilbk,

**Debian 11 bullseye.**

Here is screenshot of windows wireguard client (with ip config)

![Capture d’écran 2022-12-18 023645](https://user-images.githubusercontent.com/36493474/208273313-51d4b904-9492-4191-8ecd-b9d7f50aa737.png)



Last thing I did was to add "oifname "eth0" counter packets 2 bytes 120 masquerade" in the ip6 table (postrouting). This line was not there in the first place.

I am available if you want to try something ;)

Hmm. You shouldn't need to mess with any firewall rules -- Firezone handles NAT and masquerade for you.

I just [updated the docker-compose.yml](https://github.com/firezone/firezone/blob/master/docker-compose.prod.yml) to add an IPv6 subnet and address for the container -- try replacing yours with that one, then do a `docker-compose down && docker-compose up -d` to recreate the network and see if that helps.

Also, maybe this is obvious, but does the Docker host have working connectivity already? Does `ping6 google.com` work?

Re,

Yes I confirm, it works well with ping, etc works well with IPv6.

![Capture d’écran 2022-12-18 042612](https://user-images.githubusercontent.com/36493474/208280022-5176c95b-e57e-4a94-bcb0-8b5cce73a6f8.png)



I tried with the subnet as indicated but it does not work ;(


Here's the problem -- ipv6 is disabled by default in Docker. See if this fixes your issue:

1. Enable IPv6 support within Docker by adding the following to `/etc/docker/daemon.json`:
  ```json
  {
    "ipv6": true,
    "ip6tables": true,
    "experimental": true,
    "fixed-cidr-v6": "2001:db8:1::/64"
  }
  ```
  This turns IPv6 NAT and sets up routing for Docker containers in a similar way to how Docker's
  IPv4 functionality works.
2. Enable router advertisements on boot for your default egress interface:
  ```
  egress=`ip route show default 0.0.0.0/0 | grep -oP '(?<=dev ).*' | cut -f1 -d' ' | tr -d '\n'`
  sudo echo "net.ipv6.conf.${egress}.accept_ra=2" >> /etc/sysctl.conf
  ```
3. Reboot

You should now be able to ping google from with a docker container:
```
docker run --rm -t busybox ping6 -c 4 google.com
```

IPv6 should be working from your WireGuard clients as well. I'll have a PR open shortly with the fixes for this.

Just wanted to mention a little gotcha it might be worth pointing out in the documentation. Normally, IPv6 is preferred over IPv4 – that is, if your device has both IPv4 and IPv6 Internet connectivity and visit some web site that also has both IPv4 and IPv6 connectivity, like Google, then your browser will make the connection over IPv6 (only falling back to IPv4 if IPv6 does not work).

However, if your device's IPv6 address is a private Unique Local Address (from within `fc00::/7`), as is used in the documented example, then this situation is reversed. This is because ULA addresses has a different label than regular IPv6 addresses in the default source address selection policy table (see [RFC 6724 section 2.1](https://www.rfc-editor.org/rfc/rfc6724#section-2.1)). Thus, if you want your clients to have normal IPv6 over IPv4 preference, then you must use a prefix from outside `fc00::/7`.